:root {
  --dark: #0A1F38;
  --dark-middle: #1B2F46;
  --dark-light: #2F4056;
  --gray: #9DA5AF;
  --green-dark: #819400;
  --green-middle: #97AB0D;
  --green: #A5BB0C;
  --green-light: #B1C909;
  --white: #FFFFFF;


  --break_xl: 1640px;
  --break_lg: 1368px;
  --break_slg: 1280px;
  --break_md: 1024px;
  --break_sm: 767px;
  --break_xs: 575px;
  --break_xxs: 449px;
  --break_xxxs: 374px;

  --modal-z-index: 10;
  --add-note-z-index: 2;
}
